@font-face {
    font-family: pendejo;
    src: url('fonts/alarm\ clock.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}
.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: relative;
	width: 100%;
	z-index: 2;
}
.container::before {
	background-color: rgba(0, 0, 0, 0.4);
	content: "";
	height: 100%;
	inset: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}
.time > * {
    font-family: pendejo;
}
.date > * {
    font-family: 'Roboto', sans-serif;
}
.time,
.date {
	color: white;
	display: flex;
	font-size: 64px;
	font-weight: bold;
	z-index: 3;
}
.day {
	margin-left: 0.35em;
}